@import "../../../node_modules/bulma/sass/elements/title.sass";

.spi-home .container {
    margin-top: 10vh
}
body{
    background-image:url(../../assets/UBO.jpg);
    background-position: center;
    background-size: cover;
 }
